{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div>
    <p> "Монна" является инструментом для демонстрации результатов исследования научного подразделения ФГБНУ "ПНИИЭО АПК" </p>
    <p><a href="https://bitbucket.org/teammates7777/model2020/src/master/flask/Отчет%20%20хоз%20дог%20от%2031.10.20%20ГОСТ%20.doc" class="btn btn-primary btn-large">Узнать больше &raquo;</a></p>
</div>
<div >

    <p>Получить другие таблицы модели можно по ссылке.</p>
    <p><a class="btn btn-default" href="https://bitbucket.org/teammates7777/model2020/src/master/flask/Приложение%201.xls">Приложение 1 &raquo;</a></p>
    <p><a class="btn btn-default" href="https://bitbucket.org/teammates7777/model2020/src/master/flask/Приложение%202.xls">Приложение 2 &raquo;</a></p>
    <p><a class="btn btn-default" href="https://bitbucket.org/teammates7777/model2020/src/master/flask/Приложение%203.1.xls">Приложение 3 &raquo;</a></p>
    <p><a class="btn btn-default" href="https://bitbucket.org/teammates7777/model2020/src/master/flask/Приложение%204.xls">Приложение 4 &raquo;</a></p>
</div>
<div >
    <h2>Copyright (c) 2020 (ФГБНУ «ПНИИЭО АПК»)</h2>
    <p>

        Данная лицензия разрешает лицам, получившим копию данного программного обеспечения и сопутствующей документации (в дальнейшем именуемыми «Программное обеспечение»), безвозмездно использовать Программное обеспечение без ограничений, включая неограниченное право на использование, копирование, изменение, слияние, публикацию, распространение, сублицензирование и/или продажу копий Программного обеспечения, а также лицам, которым предоставляется данное Программное обеспечение, при соблюдении следующих условий:

    <p>
        Указанное выше уведомление об авторском праве и данные условия должны быть включены во все копии или значимые части данного Программного обеспечения.
    </p>
    <p>
        ДАННОЕ ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ ПРЕДОСТАВЛЯЕТСЯ «КАК ЕСТЬ», БЕЗ КАКИХ-ЛИБО ГАРАНТИЙ, ЯВНО ВЫРАЖЕННЫХ ИЛИ ПОДРАЗУМЕВАЕМЫХ, ВКЛЮЧАЯ ГАРАНТИИ ТОВАРНОЙ ПРИГОДНОСТИ, СООТВЕТСТВИЯ ПО ЕГО КОНКРЕТНОМУ НАЗНАЧЕНИЮ И ОТСУТСТВИЯ НАРУШЕНИЙ, НО НЕ ОГРАНИЧИВАЯСЬ ИМИ. НИ В КАКОМ СЛУЧАЕ АВТОРЫ ИЛИ ПРАВООБЛАДАТЕЛИ НЕ НЕСУТ ОТВЕТСТВЕННОСТИ ПО КАКИМ-ЛИБО ИСКАМ, ЗА УЩЕРБ ИЛИ ПО ИНЫМ ТРЕБОВАНИЯМ, В ТОМ ЧИСЛЕ, ПРИ ДЕЙСТВИИ КОНТРАКТА, ДЕЛИКТЕ ИЛИ ИНОЙ СИТУАЦИИ, ВОЗНИКШИМ ИЗ-ЗА ИСПОЛЬЗОВАНИЯ ПРОГРАММНОГО ОБЕСПЕЧЕНИЯ ИЛИ ИНЫХ ДЕЙСТВИЙ С ПРОГРАММНЫМ ОБЕСПЕЧЕНИЕМ.
    </p>
    <p><a class="btn btn-default" href="">Сертификат &raquo;</a></p>
</div>
{% endblock %}
