{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    <br />
    Федеральное государственное бюджетное научное учреждение «Поволжский научно-исследовательский институт экономики и организации агропромышленного комплекса»<br />
                                                                                                                                                               <p>
                                                                                                                                                                   Адрес: 410010, Россия, г. Саратов,
                                                                                                                                                                   ул. Шехурдина, 12
                                                                                                                                                               </p>

                                                                                                                                                               <p>
                                                                                                                                                                   Тел.: +7 (8452) 64-06-47, +7 (8452) 64-86-92
                                                                                                                                                               </p>

                                                                                                                                                               <p>  Эл. почта: nii_apk_sar@mail.ru <a href="mailto:nii_apk_sar@mail.ru">nii_apk_sar@mail.ru</a></p>


</address>




{% endblock %}
