{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>МОННА </h1>
    <p class="lead">Модель оценки налоговой нагрузки для агропромышленного комплекса</p>
    <p><a href="https://bitbucket.org/teammates7777/model2020/src/master/flask/Отчет%20%20хоз%20дог%20от%2031.10.20%20ГОСТ%20.doc" class="btn btn-primary btn-large">Узнать больше &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Что делает модель</h2>
        <p> Модель оценки налоговой нагрузки ( сокр. "МОННА") позволяет произвести дифференцированную оценку налоговой нагрузки на основе налогово-фискальных (страховых) потенциалов и эффективности  сельскохозяйственных товаропроизводителей-налогоплательщиков по муниципальным районам Саратовской области</p>

    </div>
    <div class="col-md-4">
        <h2>Область применения</h2>
        <p> Органы управления АПК, главы крестьянских (фермерских) хозяйств, руководство сельскохозяйственных организаций.</p>

    </div>
    <div>
        <h2>Лицензия</h2>
        <p>
            Cвободно распространяемое программное обеспечение.
            
        </p><p><a href="https://bitbucket.org/teammates7777/model2020/src/master/flask/License.txt" class="btn btn-primary btn-large">Узнать больше &raquo;</a></p>
    </div>

</div>

{% endblock %}
